# Sensitive data
data/token.py
data/*.json
data/*.txt
data/

# Log files
log_file.json
*.log

# System files
.DS_Store
__pycache__/
*.pyc

# IDE files
.vscode/
.idea/

# AWS Key
*.pem

# Environment variables
.env